<div class="coffee-item">
  <div class="coffee-item__image-box">
    <picture>
      <source
        media="(min-width: 576px)"
        srcset="/images/fend-coffee-costa-rica-2_small.png"
      />
      <img class="image" src="/images/fend-coffee-costa-rica-2.png" alt="" />
    </picture>
  </div>
  <p class="subhead-m coffee-item__name">Costa Rica</p>
  <p class="subhead-m coffee-item__pricetag">6,90€ – 26,90€</p>
  <div class="coffee-tag-row">
    <div class="coffee-tag-row__container">
      <picture>
        <!-- <source media="(min-width: 1920px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop.png"/> -->
        <!-- <source media="(min-width: 1200px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_xl.png"/> -->
        <!-- <source media="(min-width: 992px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_lg.png"/> -->
        <!-- <source media="(min-width: 768px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_md.png"/> -->
        <!-- <source media="(min-width: 576px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_sm.png"/> -->
        <img
          class="image--inverted"
          src="/images/icons/icon_coffee_beans.png"
          alt="Der Kaffee 'Costa Rica' wird als ganze Bohnen angeboten."
        />
      </picture>
    </div>
    <div class="coffee-tag-row__container">
      <picture>
        <!-- <source media="(min-width: 1920px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop.png"/> -->
        <!-- <source media="(min-width: 1200px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_xl.png"/> -->
        <!-- <source media="(min-width: 992px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_lg.png"/> -->
        <!-- <source media="(min-width: 768px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_md.png"/> -->
        <!-- <source media="(min-width: 576px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_sm.png"/> -->
        <img
          class="image--inverted"
          src="/images/icons/icon_coffee_french-press.png"
          alt="Der Kaffee 'Costa Rica' ist ideal für die Zubereitung mit der French Press."
        />
      </picture>
    </div>
    <div class="coffee-tag-row__container">
      <picture>
        <!-- <source media="(min-width: 1920px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop.png"/> -->
        <!-- <source media="(min-width: 1200px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_xl.png"/> -->
        <!-- <source media="(min-width: 992px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_lg.png"/> -->
        <!-- <source media="(min-width: 768px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_md.png"/> -->
        <!-- <source media="(min-width: 576px)" srcset="fend/kaffeeroesterei/src/images/FEND-Coffee-shop_sm.png"/> -->
        <img
          class="image--inverted"
          src="/images/icons/icon_coffee_shovel.png"
          alt="Der Kaffee 'Costa Rica' ist fair gehandelt."
        />
      </picture>
    </div>
  </div>
</div>
