<footer class="container footer">
  <div class="navbar__logo"></div>
  <div class="footer__grouping--title">
    <div class="footer__textbox--title">
      <h2 class="footer__text h2--footer">Rustica</h2>
      <p class="subhead-m footer__text">Café &amp; Rösterei</p>
    </div>
  </div>
  <div class="footer__grouping">
    <div class="footer__textbox">
      <p class="text footer__text">
        Komm uns besuchen!<br/>Fraunhoferstr. 13 Kiel
      </p>
    </div>
    <div class="footer__textbox">
      <p class="text footer__text">
        Mo – Fr 8–18 Uhr<br/>Sa 11–18 Uhr
      </p>
    </div>
    <div class="footer__textbox">
      <a class="text footer__text--link">Impressum</a>
      <a class="text footer__text--link">Datenschutz</a>
    </div>
    <div class="footer__textbox">
      <a class="text footer__text--link">Café</a>
      <a class="text footer__text--link">Shop</a>
      <a class="text footer__text--link">Herkunft</a>
    </div>
  </div>
</footer>
