<footer class="container--padded footer">
  <a class="logo logo--footer" href="/index.html">
    <picture>
      <source media="(min-width: 992px)" srcset="/images/icons/logo_bean.png" />
      <img
        class="image"
        src="/images/icons/logo_bean-sm.png"
        alt="/index.html"
      />
    </picture>
  </a>
  <div class="footer__grouping">
    <div class="footer__textbox--title">
      <h2 class="footer__text h2--footer">Rustica</h2>
      <p class="subhead-m footer__text">Café &amp; Rösterei</p>
    </div>
    <div class="footer__grid">
      <p class="text footer__textbox--large footer__text">
        Komm uns besuchen!<br />Fraunhoferstr. 13 Kiel
      </p>
      <p class="text footer__textbox--opening-hours footer__text">
        Mo – Fr 8–18 Uhr<br />Sa 11–18 Uhr
      </p>
      <div class="footer__textbox">
        <a class="text footer__text--link" href="/impressum/index.html#imprint"
          >Impressum</a
        >
        <a
          class="text footer__text--link"
          href="/impressum/index.html#privacy-policy"
          >Datenschutz</a
        >
      </div>
      <div class="footer__textbox">
        <a class="text footer__text--link" href="/cafe/index.html">Café</a>
        <a class="text footer__text--link" href="/index.html">Shop</a>
        <a class="text footer__text--link" href="/herkunft/index.html"
          >Herkunft</a
        >
      </div>
    </div>
  </div>
</footer>
