<div class="gallery-desktop">
  <div class="gallery-desktop__column">
    <img
      class="image"
      src="/images/fend-danish-1.jpg"
      alt="Diese leckere Gebäck gibt es bei uns im Kaffee."
    />
    <img
      class="image"
      src="/images/fend-coffee-sign.jpg"
      alt="Unser wunderbares Kaffee-Leuchtschild, dass im Kaffee hängt."
    />
  </div>
  <div class="gallery-desktop__column">
    <img
      class="image"
      src="/images/fend-coffee-latte-art-2.jpg"
      alt="Verschiedene Latte-Art-Varianten, die unsere Barista auch auf deinen Kaffee zaubern."
    />
    <img class="image" src="/images/fend-latte-art-3.jpg" alt="" />
  </div>
  <div class="gallery-desktop__column">
    <img
      class="image"
      src="/images/fend-coffee-machine.jpg"
      alt="Unsere Siebträgermaschine. Für den besten Kaffeegeschmack."
    />
    <img
      class="image"
      src="/images/fend-coffee-latte-art.jpg"
      alt="Einer unserer Barista, beim Zaubern von Latte Art."
    />
  </div>
  <div class="gallery-desktop__column">
    <img
      class="image"
      src="/images/fend-coffee-list.jpg"
      lang="en"
      alt="Coffee 3€. Pour Over 4€. Nitro Cold Brew 3.75€. Espresso 2.75€. Cortado 3.25€. Cappuccino 3.5€. Latte 4€. Honey Oat Latte 4.75€. Espresso & Tonic 4€. The Chuck 4.5€."
    />
    <img
      class="image"
      src="/images/fend-coffee-breakfast.jpg"
      alt="Eine Auswahl an Gebäck, dass man bei uns frühstücken kann."
    />
  </div>
</div>
