<div class="gallery-m">
  <div class="gallery-m__column">
    <img class="image" src="/images/fend-danish-1.jpg" />
    <img class="image" src="/images/fend-coffee-machine.jpg" />
    <img class="image" src="/images/fend-coffee-latte-art.jpg" />
    <img class="image" src="/images/fend-coffee-sign.jpg" />
  </div>
  <div class="gallery-m__column">
    <img class="image" src="/images/fend-coffee-latte-art-2.jpg" />
    <img class="image" src="/images/fend-coffee-breakfast.jpg" />
    <img class="image" src="/images/fend-coffee-list.jpg" />
    <img class="image" src="/images/fend-latte-art-3.jpg" />
  </div>
</div>
