<div class="gallery-m">
  <div class="gallery-m__column">
    <img
      class="image"
      alt="Diese leckere Gebäck gibt es bei uns im Kaffee."
      src="/images/fend-danish-1.jpg"
    />
    <img
      class="image"
      alt="Unsere Siebträgermaschine. Für den besten Kaffeegeschmack."
      src="/images/fend-coffee-machine.jpg"
    />
    <img
      class="image"
      alt="Einer unserer Barista, beim Zaubern von Latte Art."
      src="/images/fend-coffee-latte-art.jpg"
    />
    <img
      class="image"
      alt="Unser wunderbares Kaffee-Leuchtschild, dass im Kaffee hängt."
      src="/images/fend-coffee-sign.jpg"
    />
  </div>
  <div class="gallery-m__column">
    <img
      class="image"
      alt="Verschiedene Latte-Art-Varianten, die unsere Barista auch auf deinen Kaffee zaubern."
      src="/images/fend-coffee-latte-art-2.jpg"
    />
    <img class="image" src="/images/fend-coffee-breakfast.jpg" />
    <img
      class="image"
      alt="Unsere Preise. Mit einem Klick oder Tastendruck kommst du zur Preisliste."
      src="/images/fend-coffee-list.jpg"
    />
    <img class="image" src="/images/fend-latte-art-3.jpg" />
  </div>
</div>
