<div class="info-text">
  <h2 class="h2">Rösterei &amp; Café</h2>
  <p class="text info-text__paragraph">
    Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen Rösterei, serviert im gemütlichen Café in der Innenstadt.
  </p>
  <div class="info-text mini-text-box">
    <p class="text info-text__paragraph mini-text-box__text--spacer">
      Komm uns besuchen!<br/>Fraunhoferstr. 13 Kiel
    </p>
    <p class="text info-text__paragraph mini-text-box__text">
      Mo – Fr 8–18 Uhr<br/>Sa 11–18 Uhr
    </p>
  </div>
</div>
