<div class="infoContainer__textbox">
  <h2 class="infoContainer__header">Rösterei &amp; Café</h2>
  <p class="infoContainer__paragraph">
    Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen
    Rösterei, serviert im gemütlichen Café in der Innenstadt.
  </p>
  <div class="infoContainer__textbox--row">
    <div>
      <p class="infoContainer__paragraph">Komm uns besuchen!<br/>Fraunhoferstr. 13, Kiel</p>
    </div>
    <div>
      <p class="infoContainer__paragraph">Mo – Fr 8–18 Uhr<br/>Sa 11–18 Uhr</p>
    </div>
  </div>
</div>
