<nav class="navbar">
  <div class="logo"></div>
  <input class="burger-menu" id="burger-checkbox" type="checkbox"/>
  <label class="burger-menu__label" for="burger-checkbox"></label>
  <div class="overlay">
    <div class="overlay__linkStack">
      <a class="h3 overlay__link" href="/cafe/index.html">das Café</a>
      <a class="h3 overlay__link" href="/herkunft/index.html">Herkunft</a>
      <a class="h3 overlay__link" href="index.html">Shop</a>
    </div>
  </div>
  <div class="desktop-menu">
    <a class="text--menu" href="/cafe/index.html">das Café</a>
    <a class="text--menu" href="/herkunft/index.html">Herkunft</a>
    <a class="text--menu" href="index.html">Shop</a>
  </div>
</nav>
