<nav class="navbar">
  <a class="logo" href="/index.html">
    <img class="image" src="/images/icons/logo_bean.png" alt="/index.html" />
  </a>
  <input class="burger-menu" id="burger-checkbox" type="checkbox" />
  <label class="burger-menu__label" for="burger-checkbox"></label>
  <div class="overlay">
    <div class="overlay__linkStack">
      <a class="h3 overlay__link" href="/cafe/index.html">das Café</a>
      <a class="h3 overlay__link" href="/herkunft/index.html">Herkunft</a>
      <a class="h3 overlay__link" href="index.html">Shop</a>
    </div>
  </div>
  <div class="desktop-menu">
    <a class="text desktop-menu__text" href="/cafe/index.html">das Café</a>
    <a class="text desktop-menu__text" href="/herkunft/index.html">Herkunft</a>
    <a class="text desktop-menu__text">Shop</a>
  </div>
</nav>
