<nav class="container navbar {{ navbarColor }}">
  <a class="logo {{ logoColor }}" href="/index.html">
    <img class="image" src="/images/icons/logo_bean.png" alt="/index.html" />
  </a>
  <div class="navbar__grouping">
    <button class="burger-menu {{ burgerMenuColor }}"></button>
    <a class="cart-icon {{ burgerMenuColor }}" href="/warenkorb/index.html">
      <script src="/js/cartIcon.js"></script>
    </a>
  </div>
  <div class="overlay">
    <div class="overlay__linkStack">
      <a class="h3 overlay__link" href="/cafe/index.html">das Café</a>
      <a class="h3 overlay__link" href="/herkunft/index.html">Herkunft</a>
      <a class="h3 overlay__link" href="/shop/index.html">Shop</a>
      <a class="h3 overlay__link" href="/kontakt/index.html">Kontakt</a>
      <a class="cart-icon {{ burgerMenuColor }}" href="/warenkorb/index.html"
        >lol digga
      </a>
    </div>
  </div>
  <div class="desktop-menu">
    <a class="text desktop-menu__text {{ cafeActive }}" href="/cafe/index.html"
      >das Café</a
    >
    <a
      class="text desktop-menu__text {{ herkunftActive }}"
      href="/herkunft/index.html"
      >Herkunft</a
    >
    <a class="text desktop-menu__text {{ shopActive }}" href="/shop/index.html"
      >Shop</a
    >
    <a
      class="text desktop-menu__text {{ contactActive }}"
      href="/kontakt/index.html"
      >Kontakt</a
    >
  </div>
</nav>
