<section class="container--padded coffee-display">
  <h2 class="h2 coffee-display__header">Entdecke unsere Kaffeesorten</h2>
  <div class="shop">
    <div class="spinner-wrapper">
      <div class="spinner--inverted spinner--delay-2"></div>
      <div class="spinner--inverted spinner--delay-1"></div>
      <div class="spinner--inverted"></div>
    </div>
  </div>
  <button class="button--light coffee-display__button">
    <a class="text button__text" href="/shop/index.html">alle Produkte</a>
  </button>
</section>
