@import "variables";

.coffee-item {
  padding-bottom: 41px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;

  &__image-box {
    margin-bottom: 11px;
    width: 155px;

    @include media-sm {
      width: 300px;
    }
  }

  &__image {
    background-color: $color-light-grey;
  }

  &__name {
    color: $color-white;

    &--light {
      color: black;
    }
  }

  &__pricetag {
    color: $color-medium-grey;
  }
}

.coffee-tag-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 5px;

  &__container {
    height: $font-size-m;
    width: $font-size-m;
    padding-right: 11px;

    @include media-lg {
      height: $font-size;
      width: $font-size;
    }
  }
}
