@import "variables";

.coffee-display {
  background-color: $color-anthrazit;
  padding-left: calc(#{$padding-container-m} - 6px);
  padding-right: calc(#{$padding-container-m} - 6px);

  &--light {
    @extend .coffee-display;
    background-color: $color-white;
  }

  &__grouping {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 41px;
    width: 100%;

    @include media-sm {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 12px;
    }

    @include media-md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-lg {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1248px;
      margin: auto;
    }

    @include media-lg {
      justify-content: flex-start;
      max-width: 1248px;
      margin: auto;
    }
  }

  &__header {
    color: $color-white;
    padding-bottom: 40px;

    &--light {
      @extend .coffee-display__header;
      color: black;
    }
  }

  &__button {
    margin: auto;
  }
}
