@import "variables";
// local variables
$checkbox-size: 20px;
$checkbox-margin: 12px;
$color-background-error: rgba(255, 0, 0, 0.3);

.contact-container {
  @include media-lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16%;
  }
}

.contact-form {
  &__label {
    display: block;
    margin-top: 40px;
    padding-bottom: 5px;

    &--required {
      @extend .contact-form__label;
      &::after {
        content: "*";
      }
    }

    &--checkbox {
      // custom checkbox design
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-radius: 5px;
        border: 3px solid $color-anthrazit;
        display: inline-block;
        height: $checkbox-size;
        left: calc(-#{$checkbox-margin} - #{$checkbox-size});
        margin-right: 12px;
        width: $checkbox-size;
      }

      &::after {
        content: none;
        border-left: 2px solid;
        border-bottom: 2px solid;
        background-color: $color-anthrazit;
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        position: absolute;
        transform: rotate(-45deg);
        width: 12px;
        left: calc(-#{$checkbox-margin} - #{$checkbox-size} + 6px);
        top: -3px;
      }
    }
  }

  &__privacy-policy {
    margin-top: 40px;
  }

  &__checkbox {
    // custom checkbox design defined in .contact-form__label--checkbox
    opacity: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    margin: 0;
    margin-right: $checkbox-margin;
  }

  &__checkbox:checked + .contact-form__label--checkbox::after {
    content: "";
  }

  &__checkbox:focus ~ .contact-form__label--checkbox::before {
    border-color: orange;
  }

  &__input {
    background-color: $color-white;
    border: none;
    border-bottom: 3px solid black;
    height: 37px;
    width: 100%;
    &::placeholder {
      color: black;
      padding-left: 19px;
    }

    &:focus {
      background-color: $color-light-grey;
      outline: none;

      &::placeholder {
        color: $color-medium-grey;
      }
    }

    &--text {
      @extend .contact-form__input;
      height: 12.5em;

      &::placeholder {
        color: $color-medium-grey;
        padding-top: 40px;
      }
    }

    &--error {
      background-color: $color-background-error;

      &::placeholder {
        color: rgba(255, 0, 0, 1);
      }
    }
  }

  &__button {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.checkbox-wrapper {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.checkbox-wrapper__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.checkbox-wrapper__label {
  margin-left: 32px;

  // custom box for checkbox
  &::before {
    border-radius: 5px;
    border: 3px solid $color-anthrazit;
    box-sizing: border-box;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  // custom checked marker for checkbox
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $color-anthrazit;
    opacity: 0;
    transition: opacity 0.08s linear;
  }

  &--error {
    &::before {
      background-color: $color-background-error;
    }
  }
}

.checkbox-wrapper__input:checked + .checkbox-wrapper__label::after {
  opacity: 1;
}

.checkbox-wrapper__input:focus + .checkbox-wrapper__label {
  outline: 3px solid $color-orange;
}
