@import "variables";

.footer {
  background-color: black;

  &__grouping {
    padding-top: 16px;

    @include media-lg {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__grid {
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    justify-items: flex-start;
    padding-top: 15px;
    row-gap: 34px;

    @include media-sm {
      column-gap: 17px;
    }

    @include media-md {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      column-gap: 34px;
    }

    @include media-lg {
      column-gap: 100px;
    }
  }

  &__textbox {
    &--title {
      @include media-lg {
        padding-right: 170px;
      }
    }

    &--large {
      width: 156px;

      @include media-lg {
        width: 174px;
      }
    }

    &--opening-hours {
      @include media-sm {
        grid-column-start: 1;
        grid-row-start: 2;
      }

      @include media-md {
        justify-self: start;
      }
    }
  }

  &__text {
    color: $color-white;

    &--link {
      @extend .footer__text;
      display: block;
    }
  }
}

.h2--footer {
  @extend .h2;
  font-size: 24px;
}
