@import "variables";

.info-box {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include media-md {
		flex-direction: row;
		justify-content: space-between;	
	}

	&--padded {
		@extend .info-box;
		padding-top: 40px;	
	}

	&__textbox {
	
	}

	&__image-container {
		align-self: flex-end;
		padding-top: 40px;
		width: calc(64% + 2*#{$padding-container-m});

		@include media-md {
			align-self: auto;
			padding-left: 3%;
		}

		&--reverse {
		@extend .info-box__image-container;
		align-self: flex-start;	
		
			@include media-md {
				order: -1;		
				padding-left: 0;
				padding-right: 3%;
			}	
		}
	}
}

.mini-text-box {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	&__text {
		padding-top: 20px;
		width: 138px;

		@include media-lg {
			width: 174px;
		}

		&--spacer {
			@extend .mini-text-box__text;
			margin-right: 20px;
		}
	}
}
