@import "variables";

.info-box {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&--padded {
		@extend .info-box;
		padding-top: 40px;	
	}

	&__textbox {
	
	}

	&__image-container {
		align-self: flex-end;
		padding-top: 40px;
		width: calc(64% + 2*#{$padding-container-m});

		&--reverse {
		@extend .info-box__image-container;
		align-self: flex-start;	
		}
	}
}

.mini-text-box {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	&__text {
		padding-top: 20px;
		width: 138px;

		&--spacer {
			@extend .mini-text-box__text;
			margin-right: 20px;
			// only needed when enough space (381px) -> media query
			// margin-right: calc(100% - 2*#{$padding-container-m} - 2*138px);
		}
	}
}
