@import "variables";

.info-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  row-gap: 40px;

  @include media-md {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8%;
  }

  &--padded {
    @extend .info-box;
    padding-top: 40px;

    @include media-md {
      padding-top: 100px;
    }
  }

  &__textbox {
    &--centered {
      @extend .info-box__textbox;
      max-width: 662px;

      @include media-md {
        justify-self: center;
        align-self: center;
        padding: 0 50px;
      }
    }

    &--top-centered {
      @extend .info-box__textbox--centered;

      @include media-md {
        align-self: start;
      }
    }
  }

  &--single {
    @extend .info-box;
    @include media-md {
      grid-template-columns: 1fr;
    }
  }

  &__image-container {
    justify-self: end;
    width: 79%;

    @include media-md {
      width: auto;
      justify-self: start;
    }

    &--reverse {
      @extend .info-box__image-container;
      justify-self: start;

      @include media-md {
        justify-self: end;
        order: -1;
      }
    }

    &--pushed-down {
      @include media-md {
        padding-top: 70px;
      }
    }
  }
}

.mini-text-box {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__text {
    padding-top: 20px;
    width: 138px;

    @include media-lg {
      width: 174px;
    }

    &--spacer {
      @extend .mini-text-box__text;
      margin-right: 20px;
    }
  }
}
