.logo {
  display: block;
  height: 35px;
  width: 35px;
  transition: filter 0.25s linear;
  transition-delay: 0.1s;
  filter: invert(1);
}

.logo--footer {
  @include media-lg {
    height: 70px;
    width: 70px;
  }
}
