@import "variables";
// local variables
$transition-duration: 0.5s;
$transition-delay: 0.4s;

.navbar {
  align-items: flex-start;
  color: $color-white;
  border-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;

  &--black {
    @extend .navbar;
    color: black;
  }
}

.burger-menu {
  display: none;

  &__label {
    background-image: url(/images/icons/burger_menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 35px;
    position: relative;
    transition-delay: calc(#{$transition-duration} - #{$transition-delay});
    transition-duration: $transition-delay;
    width: 35px;
    z-index: 100;

    &--black {
      @extend .burger-menu__label;
      filter: invert(1);
    }

    @include media-lg {
      display: none;
    }
  }
}

.overlay {
  align-items: flex-start;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 100vw;
  position: absolute;
  top: 0;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  width: 100vw;
  z-index: 50;

  &__linkStack {
    padding-left: calc(60px - #{$padding-container-m});
  }

  &__link {
    color: $color-white;
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  @include media-lg {
    display: none;
  }
}

#burger-checkbox:checked {
  & ~ .burger-menu__label {
    background-image: url(/images/icons/close_x.png);
  }

  & ~ .burger-menu__label--black {
    background-image: url(/images/icons/close_x.png);
    filter: invert(0);
  }

  & ~ .overlay {
    left: 0;
  }
}

.desktop-menu {
  display: none;
  border-color: inherit;
  flex-direction: row;
  justify-content: space-around;
  width: 33%;

  @include media-lg {
    display: flex;
  }

  &__text {
    border-color: inherit;
    color: inherit;
    cursor: pointer;
    font-weight: 500;
    position: relative;

    &::after {
      content: "";
      border-top: 1px solid;
      border-color: inherit;
      bottom: -2px;
      height: 0;
      left: 0;
      transition: width 0.25s linear;
      position: absolute;
      width: 0;
    }

    &:hover {
      &::after {
        width: 66%;
      }
    }

    &--active {
      &::after {
        width: 100%;
      }
    }
  }
}
