@import "variables";
// local variables
$transition-duration: 0.25s;
$transition-delay: 0.1s;

.navbar {
  align-items: flex-start;
  color: black;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;

  &--light {
    border-color: $color-white;
    color: $color-white;
  }
}

.navbar__grouping {
  column-gap: 15px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  @include media-lg {
    display: none;
  }
}

.cart-icon {
  background-color: transparent;
  background-image: url(/images/icons/basket.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  display: block;
  filter: invert(0);
  height: 22px;
  transition-delay: calc(#{$transition-duration} - #{$transition-delay});
  transition-duration: $transition-duration;
  width: 22px;

  &--filled {
    @extend .cart-icon;
    background-image: url(/images/icons/basket_filled.png);
  }
}

.burger-menu {
  border: none;
  background-color: transparent;
  background-image: url(/images/icons/burger_menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 30px;
  position: relative;
  transition-delay: calc(#{$transition-duration} - #{$transition-delay});
  transition-duration: $transition-duration;
  width: 30px;
  filter: invert(0);
  z-index: 100;

  &--light {
    filter: invert(1);
  }

  &--clicked {
    background-image: url(/images/icons/close_x.png);
  }
}

.overlay {
  align-items: flex-start;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 100vw;
  position: absolute;
  top: 0;
  transition-duration: $transition-duration;
  transition-timing-function: linear;
  width: 100vw;
  z-index: 50;

  &--visible {
    left: 0;
  }

  &__linkStack {
    padding-left: calc(60px - #{$padding-container-m});
  }

  &__link {
    color: $color-white;
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  @include media-lg {
    display: none;
  }
}

.desktop-menu {
  display: none;
  border-color: inherit;
  flex-direction: row;
  justify-content: space-around;
  width: 33%;

  @include media-lg {
    display: flex;
  }

  &__text {
    border-color: inherit;
    color: inherit;
    cursor: pointer;
    font-weight: 500;
    position: relative;

    &::after {
      content: "";
      border-top: 1px solid;
      border-color: inherit;
      bottom: -2px;
      height: 0;
      left: 0;
      transition: width 0.25s linear;
      position: absolute;
      width: 0;
    }

    &:hover {
      &::after {
        width: 66%;
      }
    }

    &--active {
      &::after {
        width: 100%;
      }
    }
  }
}
