.product-showcase {
  column-gap: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.showcase-info {
  display: grid;
  row-gap: 0px;
  column-gap: 13px;
  align-items: start;
  justify-content: start;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-template-areas:
    "heading ."
    "price ."
    "description ."
    "dropdown button"
    "tag-grid .";
}

.showcase-info__heading {
  grid-area: heading;
}

.showcase-info__text {
  margin-bottom: 46px;
  grid-area: description;
}

.showcase-info__price {
  grid-area: price;
  margin-bottom: 13px;
}

.showcase-info__tag-grid {
  align-items: start;
  align-self: end;
  column-gap: 30px;
  display: grid;
  justify-items: center;
  grid-area: tag-grid;
  grid-template-columns: repeat(3, 95px);
  grid-template-rows: repeat(2, 60px);
  margin-top: 32px;
  row-gap: 25px;
}

.showcase-info__tag {
  align-self: center;
}

.showcase-info__dropdown {
  grid-area: dropdown;
  width: 100%;
}

.showcase-info__button {
  grid-area: button;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
}

.product-description {
  display: grid;
  grid-template-columns: 609px;
  justify-content: center;
}
