@import "variables";

.product-showcase {
  margin-top: 6%;
  min-height: 550px;
}

.product-showcase--filled {
  @include media-md {
    align-items: start;
    column-gap: 13px;
    display: grid;
    row-gap: 0;
    grid-template-areas:
      "image heading ."
      "image price ."
      "image description ."
      "image dropdown button"
      "image tag-grid error";
    grid-template-columns: 4fr 2fr 1fr;
    grid-template-rows: repeat(4, min-content) 1fr;
  }
}

.product-showcase__image-container {
  background-color: $color-kraftpapier;
  grid-area: image;
  margin-right: 8%;
  max-width: 300px;
}

.product-showcase__heading {
  grid-area: heading;
}

.product-showcase__text {
  margin-bottom: 46px;
  grid-area: description;
}

.product-showcase__price {
  grid-area: price;
  margin-bottom: 13px;
}

.product-showcase__tag-grid {
  align-items: start;
  align-self: end;
  column-gap: 30px;
  display: grid;
  justify-items: center;
  grid-area: tag-grid;
  grid-template-columns: repeat(3, 70px);
  margin-top: 32px;
}

.product-showcase__tag {
  height: 60px;
  margin: auto;
  width: auto;
}

.product-showcase__tag-caption {
  margin-top: 25px;
  text-align: center;
}

.product-showcase__dropdown {
  grid-area: dropdown;
  width: 100%;
}

.product-showcase__button {
  grid-area: button;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
}

.product-showcase__message {
  background-color: $color-anthrazit;
  border-radius: 5px;
  border: 3px solid $color-anthrazit;
  box-sizing: border-box;
  color: $color-white;
  grid-area: error;
  margin-top: 12px;
  padding: 8px 8px;
  position: relative;
  text-align: center;
  width: 100%;
  display: none;

  &--active {
    display: block;
  }

  &::after {
    content: "";
    background-color: $color-anthrazit;
    border-left: 3px solid $color-anthrazit;
    border-top: 3px solid $color-anthrazit;
    display: block;
    height: 14px;
    position: absolute;
    transform: rotate(0.125turn);
    width: 14px;
    top: -11px;
    left: 10%;
  }
}

.product-description {
  display: grid;
  grid-template-columns: 609px;
  justify-content: center;
}
