@import "variables";

@keyframes steaming {
  from {
    transform: translate(0, 11px);
  }
  to {
    transform: translate(0, 0);
    opacity: 0.2;
  }
}

.shop {
  min-height: 550px;
}

.spinner-wrapper {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  padding-top: 225px;
}

.spinner {
  height: 60px;
  width: 50px;
  background-image: url(/images/icons/spinner_cup-1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    height: 20px;
    width: 20px;
    top: 0;
    left: 13px;
    background-image: url(/images/icons/spinner_cup-steam.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(0, 11px);
    animation: steaming 1s linear infinite;
  }
}

.spinner--delay-1 {
  &::after {
    animation-delay: 0.2s;
  }
}

.spinner--delay-2 {
  &::after {
    animation-delay: 0.4s;
  }
}

.shop__product {
}
