@import "variables";

.source-banner {
	align-items: center;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/FEND-Coffee-bags-2.png);
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 50%;
	justify-content: center;

	&__text {
		color: $color-white;
		margin-bottom: 12px;
		text-align: center;	
		
		&--link {
			@extend .source-banner__text;
			display: block;
			margin: auto;	
			margin-bottom: 0;
		}	
	}

	&__grouping {
		width: calc(64% + 2*#{$padding-container-m});
	}
}
