@import "variables";
@import "breakpoints";

// basic settings
* {
	margin: 0;
	padding: 0;
	font-family: $font-family;
}

// standard typography, basic settings
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.text {
	font-family: $font-family;
	font-size: $font-size-m;
	font-weight: $font-weight;
	line-height: $line-height-text;
	text-decoration: $font-text-decoration;
	
	@include media-lg {
		font-size: $font-size;
	}
}

.heading {
	font-weight: $heading-weight;
	line-height: $line-height-heading;
}

.h1 {
	@extend .heading;
	font-size: $h1-size;

}

.h2 {
	@extend .heading;
	font-weight: $heading-weight;
	font-size: $h2-size-m;

	@include media-lg {
		font-size: $h2-size;
	}
}

.h3 {
	@extend .heading;
	font-size: $h3-size-m;

	@include media-lg {
		font-size: $h3-size;
	}
}

.subhead-m {
	font-family: $font-family;
	font-size: $subhead-size;
	font-weight: $font-weight;
	line-height: $line-height-text;
	text-decoration: $font-text-decoration;
}

.container {
	box-sizing: border-box;
	padding-left: $padding-container-m;
	padding-right: $padding-container-m;
	width: 100%;
}

.image {
	display: block;
	height: auto;
	width: 100%;

	&--inverted{
		@extend .image;
		filter: invert(1);
	}
}

