// color scheme
$color-anthrazit: #1A1A1A;
$color-kraftpapier: #D7BE9D;
$color-light-grey: #E9E9E9;
$color-medium-grey: #737373;
$color-orange: #D77C12;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-white: #FFFFFF;

// general typography
$font-family: Roboto;
$font-size: 18px;
$font-text-decoration: none;
$font-weight: 400;
$heading-weight: 900;
$line-height-heading: 1.1;
$line-height-text: 1.3;
$h1-size: 64px;
$h2-size: 48px;
$h3-size: 42px;

// typography for mobile
$font-size-m: 14px;
$h2-size-m: 36px;
$h3-size-m: 32px;
$subhead-size: 18px;


// container padding-left/right
$padding-container-m: 24px;
$padding-container-top-m: 60px;
