// color scheme
$color-anthrazit: #1A1A1A;
$color-kraftpapier: #D7BE9D;
$color-light-grey: #E9E9E9;
$color-medium-grey: #737373;
$color-orange: #D77C12;
$color-petrol: #006D7E;
$color-rosa: #EDD1C9;
$color-white: #FFFFFF;

// typography for desktop
$font-family: Roboto;
$font-size: 18px;
$font-text-decoration: none;
$font-weight: 400;
$heading-weight: 900;
$h1-size: 64px;
$h2-size: 48px;
$h3-size: 42px;

// typography for mobile
$font-size-m: 14px;
$h2-size-m: 36px;
$h3-size-m: 32px;
